@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.reddit-mono{
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }

* {
  box-sizing: border-box;
}
body {
    font-family: "Merriweather", serif;
    font-weight: 350;
    font-style: normal;
    line-height: 1.7em;
    font-size: 12pt;
    background-color: #fffff8;
    color: #111;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

hr {
  border: none;

} hr::before {
  content: '* * *';
  display: block;
  text-align: center;
  padding-top: 1em;
}

table {
  max-width: 100%;
}

td {
  width: 9em;
}
.output {
    background-color: #8dddff;
}

pre, code, .syntax, table:has(code), .output, tt {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 90%;
  line-height: 1.3;
}

p > code, ul > li > code, tt {
    font-weight: 500;
    font-size: 100%;
}


.syntax {
    background-color: #91ff9c;
}
pre, table:has(code) {
    background-color: #fbfba8;
}

.aside, .output, .syntax, pre, table:has(code) {
    padding: 10px;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 99%;
    text-wrap: wrap;
    justify: left;
}

pre, .output, .code, .syntax {
    padding-left: 2em;
}

p.aside {
    text-align: left; 
    font-size: 95%;
    line-height: 1.6em;
    background-color: #ffe0fc;
}

hr.footnotebar { height: 1px; color: black; width: 50%; text-align: left; 
                 margin-top: 1em; margin-bottom: 0em; }
blockquote {text-align: justify; }
div.ans {margin-left: 1em; margin-right: 1em; }
div.ans ul {margin-left: 0; text-align: justify; }
div.bigclump {margin-top: 1em; margin-bottom: 1em; }
div.clump {margin-top: 0.5em; margin-bottom: 0.5em; }
div.inset {margin-left: 30px; margin-top: 1em; margin-bottom: 1em; }

div.page {
    border-top: 1px dashed #DDDDDD;
	  border-bottom: 1px dashed #DDDDDD;
    margin: auto;
    max-width: 700px;
}

p.navbar {
  overflow: hidden;
  margin: auto;
  width: 700px;
  font-size: 150%;
}

span.atleft {vertical-align: top; float: left;
            padding-right: 15px; padding-bottom: 7px; padding-top: 3px; }
p.chapter {text-align: right; font-variant: small-caps; color: navy; }
p.dotbreak {text-align: center; color: navy; }
p.hangindent {margin-top: 0; margin-bottom: 0; margin-left: 30px;
		  text-indent: -30px; }
/* p.indent {text-indent: 30px;
          margin-top: 0; margin-bottom: 0; } */
p.lynxonly {line-height: 0; margin-top: 0; margin-bottom: 0; }

p.pagenum {
  text-align: right;
}

p.tokendef {text-align: justify; }
span.grammartoken {border: 1px solid black; padding: 1px; }
span.token {font-style: italic; }


/* 
table.objtree {margin-top: 1em; margin-bottom: 1em; text-align: center; }
table.sa2 {width: 100%; margin-top: 1em; margin-bottom: 0em;
           border-top: 1px solid black; border-bottom: 1px solid black; }
table.sa2 tr.r1 td.c1 {text-align: left; }
table.sa2 tr.r1 td.c2 {text-align: right; }
table.tbl2 td {text-align:center; font-size:larger;
               padding-left: 5px; padding-right: 5px; }
table.tbl3 td {text-align:left;
		   padding-left: 5px; padding-right: 5px; }
table#s45_tbl1 {margin-top: 1em; margin-bottom: 1em; text-align: center; }
table#s45_tbl1 tr.row1 td {font-weight: bold; }
table#s45_tbl1 tr td {padding-left: 5px; padding-right: 5px; }
table#s45_tbl2 {margin-top: 1em; margin-bottom: 1em; text-align: center; } */

ul.indexlist {list-style-type: none; margin-top: 1em; margin-bottom: 1em;
	margin-left: 0em; margin-right: 1em; font-size: 11pt; }
ul.indexlist li {font-size: 11pt; text-align: justify; 
	   margin-left: 2em; text-indent: -1em; }
ul.indexlist li ul {list-style-type: none; margin-left: 0em; }
ul.indexlist li ul li {font-size: 11pt; text-align: justify; 
	   margin-left: 1em; text-indent: -1em; }
ul.indexlist li ul li ul {list-style-type: none; margin-left: 0em; }
ul.indexlist li ul li ul li {font-size: 11pt; text-align: justify; 
	   margin-left: 1em; text-indent: -1em; }

       .warning {color: #AA3333; } 

@media (width <= 700px) {

  body {
    font-size: 14pt;
  }
  
  p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  p.aside {
    font-size: 100%;
  }

  pre, code, .syntax, table:has(code), .output, tt {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1.3;

  }

  .aside, .output, .syntax, pre, table:has(code) {
    padding: 5px;
    margin: 5px 0;
  }

  p.navbar:last-of-type {
    display: contents;
    margin: 0 auto;
  }

  div.page {
    border-top: 1px dashed #DDDDDD;
    border-bottom: 1px dashed #DDDDDD;
    width: 100%;
  }
  table {
    max-width: 100%;
  }

  pre, .output, .code, .syntax {
    padding: 2px;
  }

  p.navbar {
    overflow: hidden;
    margin: auto;
    width: 300px;
    font-size: 100%;
  }
}
